/* src/styles/CardCampanaP.css */

.card-campana {
  background: #4ace5c; /* Color verde principal */
  border-radius: 16px; /* Bordes más redondeados */
  padding: 1rem 1.25rem; /* Espaciado ajustado */
  max-width: 320px; /* Cards más pequeños */
  margin: 1.2rem auto; /* Espaciado entre cards */
  color: #ffffff; /* Texto en blanco */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más sutil */
  transition: transform 0.4s ease, box-shadow 0.4s ease,
    background-color 0.3s ease, opacity 0.3s ease;
  opacity: 0.95; /* Opacidad para dar un toque moderno */
}
.cont-apoyos {
  border-radius: 50px;
  height: 30px;
  width: 30px;
  background-color: none;
  border: none;
  display: flex;
  align-content: right;
  position: relative;
  left: 90%;
  justify-content: right;
  text-align: center;
}
.card-campana:hover {
  background: #35d943ca; /* Cambio de color al pasar el ratón */
  transform: scale(1.05) rotate(2deg); /* Animación de escala y rotación */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
  opacity: 1; /* Totalmente visible al hacer hover */
}

.titulo-campana {
  font-size: 1.4rem; /* Fuente más pequeña para un look compacto */
  font-weight: bold;
  color: #ffffff; /* Título en blanco */
  text-align: center;
  margin-bottom: 0.8rem; /* Menos margen entre el título y el contenido */
  text-transform: uppercase; /* Título en mayúsculas para hacerlo más llamativo */
  letter-spacing: 1px; /* Espaciado entre letras */
}

.descripcion-campana,
.direccion-campana,
.fecha-campana,
.comunidad-campana {
  margin-bottom: 0.5rem; /* Espaciado consistente */
  font-size: 1rem; /* Tamaño de fuente moderado */
  line-height: 1.3;
  color: #ffffff; /* Texto en blanco */
  text-align: center; /* Centrado del texto */
}

.fecha-campana {
  font-weight: 700; /* Texto más grueso para la fecha */
  font-size: 1.2rem; /* Un poco más grande para la fecha */
  color: #e0f2f1; /* Color suave para la fecha */
}

/* Animaciones adicionales */
@keyframes hover-animation {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 0.95;
  }
  100% {
    transform: scale(1.05) rotate(2deg);
    opacity: 1;
  }
}

.card-campana:hover {
  animation: hover-animation 0.3s ease-in-out forwards; /* Animación personalizada */
}
